<nav class="navbar-container">

    <a class="navbar-link" href="{% url 'main:mainpage' %}">👆First Page</a>
    <a class="navbar-link" href="{% url 'main:secondpage' %}">👆Second Page</a>

    <!--사용자 인증 정보-->
    <div class="nav-right">
        {% if user.is_authenticated %}
        <!--로그인 시 보이는 화면-->
        <ul class="nav-link-account">
            <li class="nav-link-user">{{user.username}}</li>
            <li><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
            <li><a href="{% url 'users:mypage' request.user.id %}">mypage</a></li>
        </ul>
        {% else %}
        <!--로그아웃 시 보이는 화면-->
        <ul class="nav=link-account">
            <li><a href="{% url 'accounts:login' %}">로그인</a></li>
            <li><a href="{% url 'accounts:signup' %}">signup</a></li>
        </ul>
        {% endif %}
    </div>
</nav>