{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>마이페이지에 오신 것을 환영합니다</h1>

User : {{ user }} <br>
UserProfile : {{ user.profile }} <br>

<p>팔로워<br>{{ user.profile.followers.count }}명</p>
<p>팔로잉<br>{{ user.profile.followings.count }}명</p>

{% if request.user != user %}
    {% if request.user.profile in user.profile.followers.all %}
        <a href="{% url 'users:follow' user.id %}">
            <button type="button" class="btn btn-outline-info">언팔로우</button>
        </a>
    {% else %}
        <a href="{% url 'users:follow' user.id %}">
            <button type="button" class="btn btn-info">팔로우</button>
        </a>
    {% endif %}
{% endif %}

<p>생일: {{ user.profile.birthday }}</p>
<p>전화번호: {{ user.profile.phone }}</p>

<h3>작성한 글 목록</h3>
<ul>
    {% for post in posts %}
        <li><a href="{% url 'main:detail' post.pk %}">{{ post.headline }}</a></li>
    {% empty %}
        <li>작성한 글이 없습니다.</li>
    {% endfor %}
</ul>
{% endblock %}
